<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"globalViewTransitions":"true"}' />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/styles/global.css" rel="stylesheet" />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {},
          },
        },
        plugins: [
          function ({ addVariant }) {
            addVariant('child', '& > *');
          },
        ],
      };
    </script>
    <title>My Webpage</title>
  </head>
  <body>
    <nav
      class="p-8 z-50 select-none flex flex-row items-center w-screen fixed top-0 bg-white shadow-sm"
    >
      <a
        hx-get="/"
        hx-push-url="true"
        hx-target="#main-component"
        class="block py-2 px-4 hover:"
      >
        Home
      </a>
      <a
        hx-get="/edit"
        hx-push-url="true"
        hx-target="#main-component"
        class="block py-2 px-4 hover:"
      >
        Edit
      </a>
    </nav>
    <main
      class="mt-32 md:mt-0 md:max-h-screen pb-16 px-[1.25vw] sm:px-[20vw] md:px-[14vw]"
      id="main"
    >
      <div id="main-component">
        <section>
          <header></header>
          <div
            hx-get="http://localhost:5275/api/movies/random"
            hx-trigger="load"
            hx-target="#main-component"
            hx-swap="innerHTML"
          ></div>

          <div>
            <button
              hx-get="http://localhost:5275/api/movies/random"
              hx-trigger="click"
              hx-target="#main-component"
              hx-swap="innerHTML"
            >
              Next
            </button>
          </div>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
